/* variables */

:root {
    --text-color: rgba(255, 255, 255, 1);
    --panel-bg: rgba(0, 0, 0, 1);
    --header-height: 50px;
    --margin-medium: 20px;
    --margin-large: 40px;
    --margin-small: 10px;
    --red: rgba(143, 19, 19, 1);
    --content-min-height: 350px;
    --border-color: rgba(255, 255, 255, 0.7);
    --transparent: rgba(255, 255, 255, 0);
    --desktop-cover-size: 350px;
}

body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}

header {
    padding-top: 20px;
    height: var(--header-height);
    background-color: var(--transparent);
    display: flex;
    justify-content: center;
    /* border */
    /* border-style: solid;
    border-color: var(--border-color);
    border-width: 0px 0px 1px 0px;
     */
}

.header-links {
    overflow: hidden;
}

ul.header-links-list {
    list-style: none;
    margin: 0;
    margin-right: var(--margin-medium);
    animation: textAppear 2s ease;
}

.header-links-list>li {
    display: inline-block;
    padding: var(--margin-small) var(--margin-medium);
    cursor: pointer;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    border-radius: 20px;
}

.header-links-list>li:not(:last-child) {
    margin-right: var(--margin-medium);
}

.header-links-list>li:hover div {
    position: relative;
    color: black !important;
    z-index: 2;
}

.header-links-list>li:after {
    animation: linkSpread 0.2s ease-in;
    border-radius: 20px;
}

.header-links-list>li:hover:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--border-color);
    z-index: 1;
}

footer {
    flex-grow: 0;
    height: 150px;
    width: 100%;
    background-color: var(--panel-bg);
}

main {
    width: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.bg-layout {
    animation: bgAppear 1s ease-in-out;
    flex: 1;
    opacity: 0.3;
    background: url(./img/bg-cover.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-left: 10vw;
    width: 90vw;
}

.heading {
    /* text-align: center; */
    font-family: 'Manrope', sans-serif;
    line-height: 2;
    font-weight: 800;
    font-size: 5em;
    animation: textAppear 2s ease;
    margin-top: var(--margin-medium);
}

.description {
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
    animation: textAppear 3s ease;
    font-size: 1.6em;
}

.listen-button {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-top: var(--margin-large);
    display: inline-block;
    padding: var(--margin-small) var(--margin-medium);
    border-radius: 25px;
    background: linear-gradient(232deg, #ff7575, #ef58ff, #fef9ff, #32ffc1);
    background-size: 800% 800%;
    animation: gradAnim 15s ease infinite, textAppear 4s ease;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.listen, .press {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-evenly;
}

.releases {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.releases-elem {
    margin: var(--margin-medium)
}

.release-cover {
    width: var(--desktop-cover-size);
    height: var(--desktop-cover-size);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.31);
    transition: all 0.5s ease;
    cursor: pointer;
}

.releases-elem:hover .release-cover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.31);
    -moz-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.31);
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.31);
}

.release-name {
    opacity: 0;
    margin-top: var(--margin-medium);
    text-align: center;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

.releases-elem:hover .release-name {
    animation: textAppear 0.5s ease;
    visibility: visible;
    opacity: 1;
}

.press-list-heading {
    font-size: 1.6em;
    margin: var(--margin-medium) 0px;
}

.press-list {
    list-style-type: none;
}

.press-list-elem {
    
}


.hidden {
    display: none;
}

@keyframes linkSpread {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes bgAppear {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0.3;
    }
}

@keyframes bgAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    55% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes gradAnim {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }

}